<!-- homepage; asks if you want to login or signup (only works if you aren't already signed in, goes to profile page if you are already logged in-->
<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5"> <!-- justify-content-around (flex behavior for contents) This is a single row. margin-top-size five -->
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>
<!-- -->